# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build / output
dist/
build/
output/
*.tsbuildinfo

# Logs & temp
*.log
tmp/
temp/
*.tmp

# Local DB / Redis
*.db
dump.rdb

# IDE
.idea/
*.swp
*.swo
